<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
	<meta name="author" content="Daniel Devatman Hromada, wizzion.com">
	</title>
	<link rel="stylesheet" href="/css/fibel/style.css" />
</head>
<body>
       <% IF msg %>
      <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="info">&times;</button>
      <strong>Yo!</strong> <% msg %>
      </div>
      <% END %>

     <% IF err %>
      <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Oh no! <% err %>
      </div>
      <% END %>

<% content %>

<div id="shiva">
	<% INCLUDE "modules/shiva.tt" %>
</div>


</body>
</html>
