.invisible {
	display: none;
}

@font-face {
        font-family: 'OratorStd';
        src: url('https://cloud.medienhaus.udk-berlin.de/community/fonts/OratorStd.otf');
}
@font-face {
        font-family: 'OratorStd-Slanted';
        src: url('https://cloud.medienhaus.udk-berlin.de/community/fonts/OratorStd-Slanted.otf');
}


* {
    font-family: 'OratorStd';
    color: black;
}

.content {
	margin: 25px;
	font-size: 16px;
}

img {
	margin-top: 25px;
	margin-bottom: 25px;
}
.listbar ul {
  list-style: none;
    padding: 0;
}

.listbar > ul:after{
    clear:both;
    content:"";
    display:block;
}

.listbar > ul > li {
  float: left;
  position: relative;
  border: 1px solid #FF00CC;
}

.listbar > ul > li > a {
    text-decoration: none;
    padding: 5px 10px;
    display:block;
    color: black;
}

.listbar > ul > li > a:hover {
    background-color: lightgreen;
}


.listbar > ul > li > ul {
    background-color:#FF00CC;
     display: none;
  width:150px;
  top:100%;
  left:0;
  position: absolute;
}

.listbar > ul > li > ul > li {
  position: relative;
   width:100%;
  display: block;
}

.listbar > ul > li > ul > li > a {
  text-decoration: none;
    padding: 5px 10px;
    display:block;
    color: black;
}

.listbar > ul > li > ul > li > a:hover {
  background-color:white;
}

.listbar > ul > li:hover > ul {
  display: block;
}

.listbar > ul > li > ul > li > ul {
    display:none;
    background-color:lightblue;
    position:absolute;
    left:100%;
    top:0;
      width: 150px;
  background-color: green;
}

.listbar > ul > li > ul > li > ul > li > a {
  text-decoration: none;
    padding: 5px 10px;
    display:block;
    color: black;
}

.listbar > ul > li > ul > li > ul > li > a:hover {
    background-color:yellow;
}

.listbar > ul > li > ul > li:hover ul {
  display: block;
}
